<div ng-controller="productCtrl">
	<h1>Assignment</h1>
	<div class="product_cont" ng-init="init()">
		<div class="panel panel-default">
			<div class="panel-heading">Product Details</div>
			<div class="panel-body">
				<div class="row search_bar">
					<div class="col-md-6 col-md-push-2">
						<input type="text" ng-model="selectedProduct"
							   typeahead="p as p.name for p in productData | filter : {name:$viewValue}"
							   class="form-control" placeholder="Type to search"/>
					</div>
					<div class="col-md-2 pull-right">
						<input type="button" class="btn btn-danger" value="Delete DB" ng-click="destroyDB()"/>
					</div>

				</div>
				<tabset>
					<tab heading="Home" active="tab.active">
						<form name="home" ng-submit="updateProductData(selectedProduct)" class="myForm">
							<div class="form-group clearfix">
								<div class="col-md-6">
									<label>Product Id</label>
									<pre>{{selectedProduct.id}}</pre>
								</div>
								<div class="col-md-6">
									<label>Quantity</label>
									<pre>{{selectedProduct.quantity}}</pre>
								</div>
							</div>
							<div class="form-group">
								<label>Product Name</label>
								<input type="text" name="productName" ng-model="selectedProduct.name" class="form-control" checkname>
								<span ng-show="home.productName.$error.checkname">Please enter Alpha numeric characters only </span>
							</div>
							<div class="form-group">
								<label>Product Cost</label>
								<pre>{{selectedProduct.cost}}</pre>
							</div>
							<div class="form-group">
								<label>Selling Price</label>
								<input type="text" name="productPrice" ng-model="selectedProduct.sellingPrice" class="form-control"  checkprice="{{selectedProduct.cost}}">

								<div class="text-danger bg-danger" ng-show="home.productPrice.$error.checkprice">Please enter numbers only </div>
								<div class="text-danger bg-danger" ng-show="home.productPrice.$error.costIsLess">Selling price can not be lees then cost </div>
							</div>
							<div class="form-group">
								<input type="submit" class="btn btn-default" value="Update" />
							</div>
						</form>
					</tab>
					<tab heading="Edit" select="editTab()">
						<form name="editForm" ng-submit="addProductData(newProduct)" class="myForm">
							<div class="form-group clearfix">
								<div class="col-md-6">
									<label>Product Id</label>
									<input type="text" ng-model="newProduct.id" class="form-control" readonly>
								</div>
								<div class="col-md-6">
									<label>Quantity*</label>
									<input type="text" name="newProductQuantity" ng-model="newProduct.quantity" class="form-control" required integer>
								</div>
							</div>
							<div class="form-group">
								<label>Product Name*</label>
								<div>
									<input type="text" name="newProductName" ng-model="newProduct.name" class="form-control" checkname>
									<span ng-show="editForm.newProductName.$error.checkname">Please enter Alpha numeric characters only </span>
								</div>
							</div>
							<div class="form-group">
								<label>Product Price*</label>
								<div>
									<input type="text" name="newProductCost" ng-model="newProduct.cost" class="form-control" required integer>

								</div>
							</div>
							<div class="form-group">
								<label>Selling Price*</label>
								<div>
									<input type="text" name="sellingPrice" ng-model="newProduct.sellingPrice" class="form-control" checkprice="{{newProduct.cost}}">
									<div class="text-danger bg-danger" ng-show="editForm.sellingPrice.$error.checkprice">Please enter numbers only </div>
									<div class="text-danger bg-danger" ng-show="editForm.sellingPrice.$error.costIsLess">Selling price can not be lees then cost </div>
								</div>
							</div>
							<div class="form-group">
								<input type="submit" class="btn btn-default" value="Save" ng-disabled="editForm.$invalid"/>
							</div>
						</form>
					</tab>
					<tab heading="Chart" select="createChart()">
						<canvas id="bar" ng-if="barChartData" class="chart chart-bar" data="barChartData"
								labels="barChartLabels" width="818" height="409"></canvas>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</div>

  

      
  